@model IEnumerable<ProyectoWebMVC.Models.Solicitud>

@{
    ViewData["Title"] = "EvaluarSolicitudAdopcion";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Solicitudes enviadas</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Cedula)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Edad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LugarResidencia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ingresos)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AmbienteFamiliar)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fecha)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Cedula)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Edad)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LugarResidencia)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Ingresos)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AmbienteFamiliar)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Fecha)
                </td>
            </tr>
        }
    </tbody>
</table>
